# Ignore hidden folders
/.archive
/.backup
/.examples

# Ignore hidden files
.gitattributes

# Ignore application files
*.backup
config.php
top_*
todo.txt
test_*.*
/data
/tdata
/20*

# Ignore /zhouaini528/bybit-php
/vendor
/src
/tests
composer.json
composer.lock
